.header{
    display: flex;
    align-items: center;
    background-color: #358eb8;
    color: #fff;
}
.cantoSuperiorDireito {
    display: flex;
    width: 100%;
    justify-content: flex-end;  
}
mat-icon{
    color: #fff;
    letter-spacing: 20px; /*adiciona espaço entre os elemento */
    cursor: pointer;
}
button {
    text-decoration: none;
}