.header{
    display: flex;
    align-items: center;
    background-color: #358eb8;
    color: #fff;
}
.cantoSuperiorDireito {
    float: right;
    display: flex;
    width: 100%;
    justify-content: flex-end;  
}
.cantoSuperiorDireito a, i{
    color: #fff;
    letter-spacing: 20px; /*adiciona espaço entre os elemento de 20px */
    cursor: pointer;
}
