.header{
    display: flex;
    align-items: center;
    background-color: #358eb8;
    color: #fff;
}
.cantoSuperiorDireito {
    display: flex;
    justify-content: space-around;   
    float: right;
    width: 10rem;
}
.cantoSuperiorDireito a, i{
    color: #fff;
    /* letter-spacing: 20px; adicionaria espaço entre os elemento de 20px*/
    cursor: pointer;
}