<mat-toolbar class="header mat-elevation-z4">
    <nav class="cantoSuperiorDireito">
        <span>
            <i 
            matBadge="1"
            matBadgeColor="warn"
            matBadgePosition="before" matBadgeOverlap="true"
            [matMenuTriggerFor]="notificacao" 
            class="far fa-bell"></i> 
            <mat-menu #notificacao="matMenu">
            <button mat-menu-item></button>
            </mat-menu>
        </span>
        <span>
            <i [matMenuTriggerFor]="seta" class="fas fa-random"></i> 
            <mat-menu #seta="matMenu">
            <button mat-menu-item></button>
            </mat-menu>
        </span>
        <span>
            <i [matMenuTriggerFor]="configuracoes" class="fas fa-cog"></i>
            <mat-menu #configuracoes="matMenu">
            <button mat-menu-item></button>
            </mat-menu>
        </span>
        <span>
            <a href="voltaAPagina">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </span>
    </nav>
</mat-toolbar>