<mat-sidenav-container class="menu">
    <mat-sidenav #menuHamburguerSidenav class="sidenav" opened fixedInViewport="true">
        <i (click)="menuHamburguerSidenav.toggle()" class="fas fa-bars menutogle"></i>
        <h1>DP4-PR</h1>
        <mat-nav-list class="nav-list">
            <p id="usuario">OLGA MARIA </p>
            <p id="tituloMenu">Menu</p>
            <mat-list-item class="opcoesDoMenu">
                <mat-icon mat-list-icon>shopping_cart</mat-icon>
                Pedidos
                <mat-icon class="setasADireita">chevron_left</mat-icon>
            </mat-list-item>
            <mat-list-item class="opcoesDoMenu">
                <mat-icon mat-list-icon>palette</mat-icon>
                Acordos
                <mat-icon class="setasADireita">chevron_left</mat-icon>
            </mat-list-item>
            <mat-list-item class="opcoesDoMenu">
                <mat-icon mat-list-icon>groups</mat-icon>
                Clientes
                <mat-icon class="setasADireita">chevron_left</mat-icon>
            </mat-list-item>
            <mat-list-item class="opcoesDoMenu">
                <mat-icon mat-list-icon>business_center</mat-icon>
                Representantes
                <mat-icon class="setasADireita">chevron_left</mat-icon>
            </mat-list-item>
            <mat-list-item class="opcoesDoMenu">
                <mat-icon mat-list-icon>download_done</mat-icon>
                Acerto Mensal
                <mat-icon class="setasADireita">chevron_left</mat-icon>
            </mat-list-item>
            <mat-list-item class="opcoesDoMenu">
                <mat-icon mat-list-icon>note_alt</mat-icon>
                Aprovação de Pedidos
                <mat-icon class="setasADireita">chevron_left</mat-icon>
            </mat-list-item>
            <mat-list-item class="opcoesDoMenu">
                <mat-icon mat-list-icon>menu_book</mat-icon>
                Relatórios
                <mat-icon class="setasADireita">chevron_left</mat-icon>
            </mat-list-item>
            <mat-list-item class="opcoesDoMenu">
                <mat-icon mat-list-icon>sell</mat-icon>
                Catálagos
                <mat-icon class="setasADireita">chevron_left</mat-icon>
            </mat-list-item>
            <mat-list-item class="opcoesDoMenu">
                <mat-icon mat-list-icon>receipt_long</mat-icon>
                Plano de Metas
                <mat-icon class="setasADireita">chevron_left</mat-icon>
            </mat-list-item>
            <mat-list-item class="opcoesDoMenu">
                <mat-icon mat-list-icon>person_pin</mat-icon>
                Eventos
                <mat-icon class="setasADireita">chevron_left</mat-icon>
            </mat-list-item>
            <mat-list-item class="opcoesDoMenu">
                <mat-icon mat-list-icon>school</mat-icon>
                Colaboradores
                <mat-icon class="setasADireita">chevron_left</mat-icon>
            </mat-list-item>
            <mat-list-item class="opcoesDoMenu">
                <mat-icon mat-list-icon>public</mat-icon>
                Clube Mais DP4
                <mat-icon class="setasADireita">chevron_left</mat-icon>
            </mat-list-item>           
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>

