.menu{
    font-family:arial;
}
.menutogle{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
h1{
    font-weight: bold;
    background-color: #307fa5;
    padding: 16px;
    text-align: center; 

}
#tituloMenu {
    background-color: #1e2629;
    padding: 10px;
    color: #4b646f;
}
#usuario{
    font-weight: bold;
    padding: 10px;
}
h1, #usuario, #tituloMenu {
    margin: 0%;
}
.sidenav  {
    background-color: #212d32;
    width: 15.5rem;

}
.opcoesDoMenu {
    max-height: 2rem;
    font-size: 0.8rem;
}
.setasADireita{
    color: #fff;
    /* margin-left:5rem; */
    opacity: 0.5;
    position: absolute;
    right: 1rem;
}
.opcoesDoMenu, .setasADireita, .sidenav {
    color: #fff;
}
